/*debug*/

.container{

  border: 1px solid black;
}

[class*="col-"]{
  border: 1px solid red;
}

body{
  font-style: Sailec-Medium,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif
}

/*nav*/
nav{
  background-color: #031b4e;
  height: 70px;
}

nav img{
  width: 110%;
  height: auto;
  padding-left: 10px;
}

.nav>li.disabled>a {
  color: black;
}

.navigazione{
  padding: 14px 0 12px 18px;
}

.bottom{
  padding: 18px 15px;
  float: right;
}

.btn {
  border: 1px solid #0069ff;
  color: #0069ff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 16px;
}

/*header*/

.header{
  background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
  background-position: bottom;
  min-height: 450px;
  padding-top: 30px;
}

.header h1{
  font-size: 44px;
  font-weight: 600;
  padding-top: 45px;
  color: white;
}

header p{
  color: white;
  opacity: 0.8;
  font-size: 18px;
  font-weight: 400;
}

.headerdx{
background-color: white;
border-radius: 1%;
text-align: center;
margin-top: 20px;
padding-top: 20px;
}

.headerdx h3{
 font-size: 22px;
}

.headerdx span{
 color: #0069ff;
 line-height: 2;
}

.headerdx input{
  width: 300px;
  padding-left: 25px;
}

.form-group{
  padding-left: 35px;
}

.headerdx button{
  width: 300px;
  padding-left: 22px;
  background-color: #0069ff;
  color: white;
  margin-bottom: 13px;
}

.headerdx .bt2{
  width: 300px;
  padding-left: 22px;
  background-color: white;
  color: black;
  opacity: 0.8;
}

.headerdx p{
  font-size: 11px;
  color: black;
  padding-bottom: 14px;
}

.headerdx img{
  height: 20px;
  float: left;
}
